.profile-button {
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 50%; /* Forme arrondie */
    padding: 10px; /* Espacement interne */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s; /* Effet au survol */
  }

  .icon-container i {
    font-size: 25px; /* Taille de l'icône */
    color: #333; /* Couleur de l'icône */
  }

  .facebook-style {
    background-color: #d4cece;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-left, .sidebar-right {
    background-color: #f5f5f5;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
  }
  
  .sidebar-left {
    left: 0;
  }
  
  .sidebar-right {
    right: 0;
  }
  
  .navbar .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .navbar .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.5rem;
    position: relative;
  }
  
  .navbar .nav-link .fa-lg {
    margin-right: 5px;
  }
  
  .navbar .nav-link:hover {
    color: #dcdcdc;
  }
  
  /* Badge de notification */
  .nav-link .badge {
    position: absolute;
    top: 5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    border-radius: 50%;
    padding: 2px 6px;
  }
  
  header.header-nav {
    padding: 0.50rem 0; /* Réduction du padding vertical global */
  }

  /* General styling for the friend requests container */
.friend-request-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
  width: 250px;
}

/* Aligning the request details */
.friend-request-item div[mat-menu-item] {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

/* Icon next to the name */
.friend-request-item mat-icon {
  margin-right: 7px;
  color: #3b5998;
  font-size: 1.5rem;
}

/* Name styling */
.friend-request-item span {
  font-weight: bold;
  font-size: 0.9rem;
  color: #333;
}

/* Buttons container */
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Accept button styling */
.action-buttons button[color="primary"] {
  background-color: #1877f2;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
}

/* Refuse button styling */
.action-buttons button[color="warn"] {
  background-color: #f02849;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
}

/* Hover effects for buttons */
.action-buttons button:hover {
  opacity: 0.9;
}

/* Empty state message */
mat-menu button[disabled] {
  color: #999;
  font-size: 0.9rem;
  text-align: center;
}
