.profile-button {
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 50%; /* Forme arrondie */
    padding: 10px; /* Espacement interne */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s; /* Effet au survol */
  }

  .icon-container i {
    font-size: 25px; /* Taille de l'icône */
    color: #333; /* Couleur de l'icône */
  }